<p style="color: green"><%= notice %></p>

<h1>Chassis</h1>

<div id="chassis">
  <% @chassis.each do |chassi| %>
    <%= render chassi %>
    <p>
      <%= link_to "Show this chassi", chassi %>
    </p>
  <% end %>
</div>

<%= link_to "New chassi", new_chassi_path %>
