<div id="<%= dom_id unit_model_type %>">
  <p>
    <strong>Unit:</strong>
    <%= unit_model_type.unit %>
  </p>

  <p>
    <strong>Model type:</strong>
    <%= unit_model_type.model_type %>
  </p>

</div>
