<h1>Editing unit model type</h1>

<%= render "form", unit_model_type: @unit_model_type %>

<br>

<div>
  <%= link_to "Show this unit model type", @unit_model_type %> |
  <%= link_to "Back to unit model types", unit_model_types_path %>
</div>
