<h1>New option faction requirement</h1>

<%= render "form", option_faction_requirement: @option_faction_requirement %>

<br>

<div>
  <%= link_to "Back to option faction requirements", option_faction_requirements_path %>
</div>
