<div id="<%= dom_id option_trait_requirement %>">
  <p>
    <strong>Option:</strong>
    <%= option_trait_requirement.option %>
  </p>

  <p>
    <strong>Requirement:</strong>
    <%= option_trait_requirement.requirement %>
  </p>

</div>
