<h1>Editing option trait requirement</h1>

<%= render "form", option_trait_requirement: @option_trait_requirement %>

<br>

<div>
  <%= link_to "Show this option trait requirement", @option_trait_requirement %> |
  <%= link_to "Back to option trait requirements", option_trait_requirements_path %>
</div>
