<h1>New option trait requirement</h1>

<%= render "form", option_trait_requirement: @option_trait_requirement %>

<br>

<div>
  <%= link_to "Back to option trait requirements", option_trait_requirements_path %>
</div>
