<h1>Editing unit chassi</h1>

<%= render "form", unit_chassi: @unit_chassi %>

<br>

<div>
  <%= link_to "Show this unit chassi", @unit_chassi %> |
  <%= link_to "Back to unit chassis", unit_chassis_path %>
</div>
