<h1>Editing model type</h1>

<%= render "form", model_type: @model_type %>

<br>

<div>
  <%= link_to "Show this model type", @model_type %> |
  <%= link_to "Back to model types", model_types_path %>
</div>
