<div id="<%= dom_id unit_trait %>">
  <p>
    <strong>Unit:</strong>
    <%= unit_trait.unit %>
  </p>

  <p>
    <strong>Trait:</strong>
    <%= unit_trait.trait %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= unit_trait.value %>
  </p>

</div>
