<h1>Editing unit trait</h1>

<%= render "form", unit_trait: @unit_trait %>

<br>

<div>
  <%= link_to "Show this unit trait", @unit_trait %> |
  <%= link_to "Back to unit traits", unit_traits_path %>
</div>
