<div id="<%= dom_id trait %>">
  <p>
    <strong>Name:</strong>
    <%= trait.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trait.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= trait.type %>
  </p>

</div>
