<div id="<%= dom_id option_trait_upgrade %>">
  <p>
    <strong>Option:</strong>
    <%= option_trait_upgrade.option %>
  </p>

  <p>
    <strong>Upgrade:</strong>
    <%= option_trait_upgrade.upgrade %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= option_trait_upgrade.value %>
  </p>

</div>
