<h1>Editing option trait upgrade</h1>

<%= render "form", option_trait_upgrade: @option_trait_upgrade %>

<br>

<div>
  <%= link_to "Show this option trait upgrade", @option_trait_upgrade %> |
  <%= link_to "Back to option trait upgrades", option_trait_upgrades_path %>
</div>
