<h1>Editing unit role</h1>

<%= render "form", unit_role: @unit_role %>

<br>

<div>
  <%= link_to "Show this unit role", @unit_role %> |
  <%= link_to "Back to unit roles", unit_roles_path %>
</div>
