<div id="<%= dom_id option_chassis_requirement %>">
  <p>
    <strong>Option:</strong>
    <%= option_chassis_requirement.option %>
  </p>

  <p>
    <strong>Requirement:</strong>
    <%= option_chassis_requirement.requirement %>
  </p>

</div>
