<h1>Editing option chassis requirement</h1>

<%= render "form", option_chassis_requirement: @option_chassis_requirement %>

<br>

<div>
  <%= link_to "Show this option chassis requirement", @option_chassis_requirement %> |
  <%= link_to "Back to option chassis requirements", option_chassis_requirements_path %>
</div>
