<h1>New option chassis requirement</h1>

<%= render "form", option_chassis_requirement: @option_chassis_requirement %>

<br>

<div>
  <%= link_to "Back to option chassis requirements", option_chassis_requirements_path %>
</div>
