<h1>New option role requirement</h1>

<%= render "form", option_role_requirement: @option_role_requirement %>

<br>

<div>
  <%= link_to "Back to option role requirements", option_role_requirements_path %>
</div>
