<h1>Editing option attribute upgrade</h1>

<%= render "form", option_attribute_upgrade: @option_attribute_upgrade %>

<br>

<div>
  <%= link_to "Show this option attribute upgrade", @option_attribute_upgrade %> |
  <%= link_to "Back to option attribute upgrades", option_attribute_upgrades_path %>
</div>
