<h1>New option attribute upgrade</h1>

<%= render "form", option_attribute_upgrade: @option_attribute_upgrade %>

<br>

<div>
  <%= link_to "Back to option attribute upgrades", option_attribute_upgrades_path %>
</div>
