<h1>Editing option sublist requirement</h1>

<%= render "form", option_sublist_requirement: @option_sublist_requirement %>

<br>

<div>
  <%= link_to "Show this option sublist requirement", @option_sublist_requirement %> |
  <%= link_to "Back to option sublist requirements", option_sublist_requirements_path %>
</div>
