<h1>New option sublist requirement</h1>

<%= render "form", option_sublist_requirement: @option_sublist_requirement %>

<br>

<div>
  <%= link_to "Back to option sublist requirements", option_sublist_requirements_path %>
</div>
