<h1>Editing unit faction</h1>

<%= render "form", unit_faction: @unit_faction %>

<br>

<div>
  <%= link_to "Show this unit faction", @unit_faction %> |
  <%= link_to "Back to unit factions", unit_factions_path %>
</div>
