<div id="<%= dom_id unit_movement_mode %>">
  <p>
    <strong>Unit:</strong>
    <%= unit_movement_mode.unit %>
  </p>

  <p>
    <strong>Movement type:</strong>
    <%= unit_movement_mode.movement_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= unit_movement_mode.value %>
  </p>

</div>
