<h1>Editing unit movement mode</h1>

<%= render "form", unit_movement_mode: @unit_movement_mode %>

<br>

<div>
  <%= link_to "Show this unit movement mode", @unit_movement_mode %> |
  <%= link_to "Back to unit movement modes", unit_movement_modes_path %>
</div>
