<div id="<%= dom_id option_unit_upgrade %>">
  <p>
    <strong>Option:</strong>
    <%= option_unit_upgrade.option %>
  </p>

  <p>
    <strong>Upgrade:</strong>
    <%= option_unit_upgrade.upgrade %>
  </p>

</div>
