<div id="<%= dom_id unit_weapon %>">
  <p>
    <strong>Unit:</strong>
    <%= unit_weapon.unit %>
  </p>

  <p>
    <strong>Weapon:</strong>
    <%= unit_weapon.weapon %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= unit_weapon.type %>
  </p>

</div>
