<h1>Editing unit weapon</h1>

<%= render "form", unit_weapon: @unit_weapon %>

<br>

<div>
  <%= link_to "Show this unit weapon", @unit_weapon %> |
  <%= link_to "Back to unit weapons", unit_weapons_path %>
</div>
