<p style="color: green"><%= notice %></p>

<h1>Unit weapons</h1>

<div id="unit_weapons">
  <% @unit_weapons.each do |unit_weapon| %>
    <%= render unit_weapon %>
    <p>
      <%= link_to "Show this unit weapon", unit_weapon %>
    </p>
  <% end %>
</div>

<%= link_to "New unit weapon", new_unit_weapon_path %>
