<div id="<%= dom_id option_weapon_upgrade %>">
  <p>
    <strong>Option:</strong>
    <%= option_weapon_upgrade.option %>
  </p>

  <p>
    <strong>Upgrade:</strong>
    <%= option_weapon_upgrade.upgrade %>
  </p>

</div>
