<h1>Editing option weapon upgrade</h1>

<%= render "form", option_weapon_upgrade: @option_weapon_upgrade %>

<br>

<div>
  <%= link_to "Show this option weapon upgrade", @option_weapon_upgrade %> |
  <%= link_to "Back to option weapon upgrades", option_weapon_upgrades_path %>
</div>
