<h1>New option weapon upgrade</h1>

<%= render "form", option_weapon_upgrade: @option_weapon_upgrade %>

<br>

<div>
  <%= link_to "Back to option weapon upgrades", option_weapon_upgrades_path %>
</div>
