<div id="<%= dom_id unit_attribute %>">
  <p>
    <strong>Unit:</strong>
    <%= unit_attribute.unit %>
  </p>

  <p>
    <strong>Attribute:</strong>
    <%= unit_attribute.attribute_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= unit_attribute.value %>
  </p>

</div>
