<div id="<%= dom_id unit_weapon_trait %>">
  <p>
    <strong>Unit weapon:</strong>
    <%= unit_weapon_trait.unit_weapon %>
  </p>

  <p>
    <strong>Trait:</strong>
    <%= unit_weapon_trait.trait %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= unit_weapon_trait.value %>
  </p>

</div>
