<h1>Editing unit weapon trait</h1>

<%= render "form", unit_weapon_trait: @unit_weapon_trait %>

<br>

<div>
  <%= link_to "Show this unit weapon trait", @unit_weapon_trait %> |
  <%= link_to "Back to unit weapon traits", unit_weapon_traits_path %>
</div>
