<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Tv:</strong>
    <%= unit.tv %>
  </p>

  <p>
    <strong>Variant:</strong>
    <%= unit.unit_attributes %>
  </p>

</div>
