<h1>Editing option option requirement</h1>

<%= render "form", option_option_requirement: @option_option_requirement %>

<br>

<div>
  <%= link_to "Show this option option requirement", @option_option_requirement %> |
  <%= link_to "Back to option option requirements", option_option_requirements_path %>
</div>
