<h1>Editing movement mode</h1>

<%= render "form", movement_mode: @movement_mode %>

<br>

<div>
  <%= link_to "Show this movement mode", @movement_mode %> |
  <%= link_to "Back to movement modes", movement_modes_path %>
</div>
