<h1>Editing option weapon requirement</h1>

<%= render "form", option_weapon_requirement: @option_weapon_requirement %>

<br>

<div>
  <%= link_to "Show this option weapon requirement", @option_weapon_requirement %> |
  <%= link_to "Back to option weapon requirements", option_weapon_requirements_path %>
</div>
