<h1>New option weapon requirement</h1>

<%= render "form", option_weapon_requirement: @option_weapon_requirement %>

<br>

<div>
  <%= link_to "Back to option weapon requirements", option_weapon_requirements_path %>
</div>
